/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
.first-section{
    display: flex;
    background-color: #2D25A0;
}
.copa-america{
    width: 50%;
    padding-left: 100px;
    padding-top: 100px;

}
.copa-america-title{
    font-family: Poppins;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 74px;
    color: #FFFFFF;
    
}
.copa-america img{
    width: 85%;
    padding-bottom: 50px;
    padding-right: 30px;
}
.link-button{
    background-color: #E02C6D;
    font-size: 30px;
    text-decoration: none;
    margin-left: 50px;
    color: white;
    padding: 20px;
}
.fas{
    padding: 20px;
}
.first-player-section{
    display: flex;
}
.first-player-divison{
    width: 23%;
    margin: 150px;
    margin-right: -3%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: 10px 10px 40px ;
}
.first-player-divison h1{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
}
.first-player-divison P{
    font-size: 20PX;
    color: grey;
}
.first-player-section, #first-id{
    margin-bottom: -200px;
}
.bercelona-link{
    width: 500px;
    margin: 100px;
}
.finally{
    color: black;
    font-size: bold;
    margin-top: 100px;
    margin-left: 600px;
    width: 650px;
    text-align: center;
}
.final-button{
    margin: 5px;
    background-color: #969BAB;
    border-radius: 50%;
    padding: 5px;
}
footer{
    margin-bottom: 50px;
    margin-top: 19px;
}
